/*first  position my content*/
#topnav{
	margin-bottom:2em;
}

#APC{

		margin-top: 2em;
		float:right;
}
#linkpages{
	margin-top: 2em;
		float:left;
}

.list-group-item{
	width: 100%;
}



span {

	color: lightblue;
	text-decoration: underline;
    float: right;
    left: 2px;
    top: 0px;
    z-index: -1;
}
/*
#portfolio,#contactme,#boutme{
	padding: 5px;
margin-left: 4px;
}*/
.display-4 {
 margin-top: 5rem; text-align: center; 
 font-family: 'Lobster', cursive;
 text-decoration-color: lightblue;
		text-shadow: 5px 0px 2px white;
}
	
	/*h1, h2{
		text-decoration-color: lightblue;
		text-shadow: 5px 0px 2px white;

	}*/
h3{
	float: right;
}
.nav, #contactme{
	margin-left: 9em;
}
#portfolio {
	margin-right:50em;
}
#boutme{
	margin-right: 8rem;
}

}

#aboutMe,.badge{ 
	margin-left:45px;
	color: lightblue;
	float: right;
	
}
.container{

	margin-left: 22em;
}
	
	.container-1{
		float: left;
	}

.nav-link{
	color: red;
}

#tabs {
	margin-right:10em;

}

#linkbox{
	border-radius: 10px;
	
	height: 7rem;
	width: 10rem;
}

#mybox{
	border-radius: 10px;
	display: inline-block;
	margin-bottom: 5em;

	}

#aboutD{
	font-family: 'Rammetto One', cursive;
	font-size: 24px;
	margin-left: 3px;
}

#name{ font-weight:bold;
	font-family: 'Lobster', cursive;
	color: lightblue;
	position: relative;
    top: 9px;
    left: 2em;
    font-size: 48px;
	margin-right:10px; 
		}
.col-md-12{
	margin-bottom: 15px;

}
#footerRow{
	width:auto;
	margin-top:10rem;

}
.grid-container {
  display: grid;
  grid-template-columns: 20% auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 1px;
}
.grid-container>div {
  background-color: white;
  text-align: center;
  padding:20px 0;
  font-size: 30px;
}
.item1 {
  grid-row: 1/ span 3 ;
}
#pagebottom{
	margin-left: 10px;
	width:100%;
	text-align: center; 
	margin-top: 10rem; 
	background-color: gray; 
	padding: 5px;
}
img {width: 60px;
height: 60px;
}


